@import './variables.scss';

.about-app {
    text-align: center;

    h1 {
        font-family: $titleFont;
        color: $titleColor;
        font-size: $titleFontSize;
        margin: 0;
    }

    .app-description {
        font-family: $defaultFont;
        color: #fff;
        font-size: $defaultTextFontSize;
        background-color: #ec1943;
        padding: 5px;
        border-radius: 5px;
    }
}
