@import './variables.scss';

.feed-container {
    width: 100vw;
    height: 100vh;
    background-image: $feedBackgroundImage;
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;

    .games {
        padding: 2rem;
    }
}

.not-logged-in {
    width: 100vw;
    height: 100vh;
    background-image: $feedBackgroundImage;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .not-logged-in-text {
        font-size: $titleFontSize;
        font-family: $titleFont;
        color: $titleColor;
        padding: 2rem;
    }

    .login-button {
        width: $AuthButtonWidth;
        background-color: $defaultButtonBackgroundColor;
        color: #fff;
        font-family: $defaultFont;
        text-align: center;
        padding: 1rem 3rem;
        border-radius: 0.5rem;
        cursor: pointer;
        margin: 2rem;
        font-size: $defaultTextFontSize;

        &:hover {
            @include buttonHoverAnimation;
        }

        &:active {
            @include buttonActiveAnimation;
        }
    }
}
