:root {
    font-size: 62.5%;

    body {
        margin: 0;
        font-size: 1.6rem;

        #modal-root {
            width: 100%;
            height: 100%;

            .modal {
                position: absolute;
                top: 0;
            }
        }
    }
}

@import './LandingPage.scss';
@import './AboutApp.scss';
@import './SignUpButton.scss';
@import './LoginWithGoogleButton.scss';
@import './LoginButton.scss';
@import './SignUpForm.scss';
@import './LoginForm.scss';
@import './Feed.scss';
@import './Game.scss';
@import './Navbar.scss';
@import './AddGameButton.scss';
@import './LogoutButton.scss';
@import './GameForm.scss';

.wrapper {
    width: 100vw;
    height: 100vh;
}
