@import './variables.scss';

.landing-page {
    width: 100%;
    height: 100%;
    background-image: $landingPageBackground;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: $mobileScreen) {
    .landing-page {
        background-position: 11% 0%;
    }
}
