@import './variables.scss';
@import './mixins.scss';

.email-login-button {
    width: $AuthButtonWidth;
    background-color: $loginSignUpButtonBackgroundColor;
    color: #fff;
    font-family: $defaultFont;
    text-align: center;
    padding: 1.5rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 2rem;

    .email-login-button-text {
        text-transform: uppercase;
    }

    &:hover {
        @include buttonHoverAnimation;
    }
}
