@mixin buttonHoverAnimation {
    transition: 300ms;
    box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
    outline: none;
}

@mixin buttonActiveAnimation {
    transition: 300ms;
    transform: scale(0.98);
}
