@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

$titleFont: 'Sigmar One', cursive;
$titleColor: #ec1943;
$defaultFont: 'Baloo Bhai 2', cursive;
$defaultFontColor: #291720;
$titleFontSize: 4rem;
$AuthButtonWidth: 20rem;
$googleButtonBackgroundColor: #c94131;
$loginSignUpButtonBackgroundColor: #2b2d42;
$landingPageBackground: url('../assets/landing-page.jpg');
$defaultTextFontSize: 2rem;

// For screen width 72rem

$mobileScreen: 72rem;
